nav{
    font-family: "TwitterChirp" apple-system BlinkMacSystemFont "Segoe UI" Roboto Helvetica Arial sans-serif;
    text-rendering: "TwitterChirp";
    /* width: 23%; */
    margin: 0;
    padding-left: 20px;
    position: fixed;
}
ul {
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
    overflow-y: scroll;
    padding-bottom: 30px;
  }
  .logo{
    color: #1d9bf0;
    font-size: 40px;
    pointer-events: auto;
    margin-bottom: 20px;
}
  li span {
    display: block;
    padding: 4px 0px ;
    position: relative;
    display: flex;
    text-decoration: none;
    margin-bottom: 20px;
    font-weight: lighter;
  }
  li span:hover {
    background-color: #e7e7e8;
    border-radius: 50px;
    /* padding: 20px; */
  }
  .icon{
    margin-right: 25px;
  }
  .username{
    display: flex;
    /* border: thin solid red; */
    align-items: center;
    justify-content: center;
  }
  .U{
    /* border: /; */
    border-radius: 50%;
    width: 43px;
    height: 43px;
    text-align: center;
    position: relative;
    background-color: #5c6bc0;
    margin-right: 30px;
    color: white;
    font-weight: bold;
}
  .text{
    line-height: 2px;
    font-family: inherit;
    
  }
  .icon2{
    font-size: 30px;
    margin-left: 30px;
  }