.main-button{
    background-color: #1d9bf0;
    color: #ffffff;
    font-family: "TwitterChirp roboto", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 244px;
    border-radius: 50px;
    border: none;
    padding-top: 15px;
    padding-bottom: 15px ;
}
.sub-button{
    background-color: black;
    color: white;
    font-family: "TwitterChirp roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
    width: 144px;
    border-radius: 50px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px ;
}